.additionally-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additionally-list__item {
  padding-top: 13px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 17px;
}

.additionally-list__title {
  .regular-Oswald();
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.additionally-list__text {
  display: flex;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 13px;
  justify-content: space-between;
}

.additionally-list__link {
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .additionally-list__item-inner {
    display: flex;
    justify-content: space-between;
  }

  .additionally-list__item {
    padding: 10px 38px;
  }
}

@media (min-width: 1300px) {
  .additionally-list__item {
    display: flex;
    // justify-content: space-between;
  }
}
