.additionally {
  padding-bottom: 20px;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additionally__present {
  width: 280px;
  height: 289px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
}

.additionally__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}
