.filter {
  .regular-Oswald();
  font-size: 16px;
  color: #222222;
}

.filter__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter__fieldset {
  border: none;
}

.filter__legend {
  margin: 20px 0;
}

.filter__label {
  display: block;
}

.filter__button {
  border: none;
  width: 100%;
}

.filter__text {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.filter__input:not([type="checkbox"]):not([type="radio"]) {
  width: 100%;
}

.filter__wrapper-input {
  display: flex;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .filter__wrapper-checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .filter__additionally .filter__label {
    width: 50%;
  }
}
