.food {
  color: #ffffff;
  .regular-Oswald();
  text-align: center;
}

.food__wrapper {
  padding-top: 27px;
  background: url("/source/img/index-background-mobile@1x.jpg") no-repeat 50% 0%;
  background-color: #64a83b;
  min-height: 305px;
}

.food__text {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  word-wrap: break-word;
  width: 280px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.food__call {
  text-transform: uppercase;
  margin-top: 23px;
  width: 260px;
  margin-left: 50%;
  line-height: 18px;
  padding-right: 1px;
  transform: translateX(-50%);
}

.food__product {
  margin: 0;
  width: 280px;
  height: 271px;
  margin-top: -139px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.food__link {
  margin: 0 20px;
  margin-top: 3px;
}

@media (min-width: 768px) {
  .food {
    color: #111111;
    text-align: start;
    padding-left: 12.28%;
    position: relative;
    min-height: 834px;
  }

  .food__wrapper {
    background-color: white;
    background-image: none;
    margin-left: 0;
    padding-top: 54px;
    min-height: 0;
  }

  .food__text,
  .food__call {
    margin-left: 0;
    transform: none;
  }

  .food__text {
    font-size: 60px;
    line-height: 60px;
    width: 420px;
  }

  .food__call {
    font-size: 20px;
    line-height: 20px;
    width: 385px;
    margin-top: 41px;
    padding-left: 1px;
    margin-bottom: 0;
  }

  .food__product {
    position: absolute;
    margin: 0;
    transform: none;
    top: 404px;
    left: 21.18%;
  }

  .food__link {
    width: 245px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    margin-top: 48px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-left: 2px;
    padding-left: 16px;
  }
}

@media (min-width: 1300px) {
  .food {
    padding-left: 80px;
    min-height: auto;
  }

  .food__product {
    margin-top: 0;
  }

  .food__wrapper {
    padding-top: 105px;
    width: 450px;
  }

  .food__link {
    margin-top: 53px;
    margin-left: 0;
  }

  .food__call {
    padding-left: 0;
  }

  .food__product {
    left: auto;
    top: 183px;
    right: 360px;
  }
}
