.job {
  padding-top: 17px;
  padding-bottom: 50px;
}

.job__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.job__text {
  position: relative;
  margin: 0;
  width: 71.42%;
  margin-top: 30px;
  margin-bottom: -4px;
  color: #444444;
  margin-left: 7.14%;
}

.job__item {
  display: flex;
}

.job__image {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-top: 28px;
  margin-bottom: -8px;
}

.job__image--useful-material {
  background: #68b738 url("../img/advantage-leaf@1x.png") no-repeat 50% 50%;
}

.job__image--boiling-water {
  background: #68b738 url("../img/advantage-powder@1x.png") no-repeat 50% 4px;
}

.job__image--eating {
  background: #68b738 url("../img/advantage-dining@1x.png") no-repeat 4px 50%;
}

.job__image--time {
  background: #68b738 url("../img/advantage-clock@1x.png") no-repeat 50% 50%;
}

@media (min-width: 768px) {
  .job__list {
    display: flex;
    flex-wrap: wrap;
  }

  .job__item {
    width: 50%;
  }

  .job__text {
    margin: 0;
    margin-top: 80px;
    padding-right: 150px;
  }
}

@media (min-width: 1300px) {
  .job__list {
    justify-content: space-between;
    padding-top: 80px;
  }

  .job__item {
    width: 245px;
  }

  .job__text {
    margin: 0;
    padding: 0;
  }
}
