.job {
  padding-top: 17px;
  padding-bottom: 20px;
}

.job__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.job__text {
  margin: 0;
  margin-left: 28.57%;
  margin-top: 30px;
  color: #444444;
}

@media (min-width: 768px) {
  .job__list {
    display: flex;
    flex-wrap: wrap;
  }

  .job__item {
    width: 50%;
  }

  .job__text {
    margin: 0;
    margin-top: 80px;
    padding-right: 150px;
  }
}

@media (min-width: 1300px) {
  .job__list {
    justify-content: space-between;
    padding-top: 80px;
  }

  .job__item {
    width: 245px;
  }

  .job__text {
    margin: 0;
    padding: 0;
  }
}
