.main-nav {
  position: relative;
}

.main-nav__logo {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  padding: 11px 20px 12px 20px;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 64px;
  height: 64px;
  top: 0;
  right: 0;

  &::after {
    content: "";
    position: absolute;
    background: url("../img/icon-close.svg") no-repeat;
    width: 18px;
    height: 18px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  .medium-Oswald();
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  padding: 22px 20px 23px 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__logo {
    border-bottom: none;
    padding-left: 0;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__link {
    .regular-Oswald();
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    border-bottom: none;
    padding: 22px 10px 23px 10px;
  }
}

@media (min-width: 1440px) {
  .main-nav__link--cat {
    color: #ffffff;
  }
}
