.main-nav {
  position: relative;
}

.main-nav__logo {
  display: block;
  padding-top: 11px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 12px;
  padding-left: 20px;
  margin: 0 -20px;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 65px;
  height: 65px;
  background-color: green;
  top: 0;
  right: 0;
  margin-right: -20px;
  // background: url("../../img/icon-close.svg") no-repeat;
}

// .main-nav__toggle path {
//   fill: #000000;
// }

// .close_button {
//   position: absolute;
//   top: 9px;
//   right: 9px;
//   background-image: url("../img/svg/close.svg");
//   border: none;
//   width: 21px;
//   height: 21px;
//   background-color: transparent;
//   background-repeat: no-repeat;
//   z-index: 3;
// }
