.page-footer__wrapper {
  background-color: #f2f2f2;
}

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
  flex-wrap: wrap;
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 27px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  padding-top: 30px;
  margin-left: -1px;
}

.page-footer--color {
  background-color: #f2f2f2;
}

.page-footer__container {
  .phone-container(39px 20px);
}

.page-footer__container {
  padding-bottom: 18px;
}

.page-footer__item {
  margin: 0 4.64%;
}

.page-footer__link {
  display: flex;
  width: 30px;
  height: 30px;
}

.vk,
.insta {
  justify-content: center;
  align-items: center;
}

.page-footer__fb-svg {
  margin-top: 5px;
  margin-left: 7px;
}

.page-footer__wrapper-academy {
  display: flex;
  justify-content: space-between;
}

.page-footer__html-academy {
  margin-top: 22px;
}

@media (min-width: 768px) {
  .page-footer__container {
    .tablet-container(58px 30px 53px 31px);
    display: flex;
    justify-content: space-between;
  }

  .page-footer__list {
    border-bottom: none;
    padding: 0;
    margin-top: 1px;
    width: 324px;
    width: 324px;
  }

  .page-footer__logo {
    border-bottom: none;
    margin-top: 6px;
    text-align: start;
    width: 132px;
    margin-right: 28px;
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
    margin-top: 8px;
  }

  .page-footer__html-academy {
    margin: 0;
  }

  .page-footer__item {
  margin: 0;
  }

  .page-footer__vk-svg {
  width: 30px;
  height: 16px;
  }

  .page-footer__insta-svg {
  width: 23px;
  height: 23px;
  }

  .page-footer__fb-svg {
    width: 14px;
    height: 28px;
    margin: 0;
    margin-left: 2px;
    margin-top: 1px;
  }

  .page-footer__item {
    margin: 0 3.7%;
  }

  .page-footer__wrapper-academy {
    width: 22.88%;
  }
}

@media (min-width: 1300px) {
  .page-footer__container {
    .desktop-container(20px 40px);
    padding-top: 57px;
    padding-bottom: 53px;
  }

  .page-footer__logo {
    margin-right: 0;
    width: 245px;
    margin-right: -2px;
  }

  .page-footer__wrapper-academy {
    width: 245px;
  }

  .page-footer__copyright {
    margin-top: 8px;
    margin-left: 82px;
  }

  .page-footer__wrapper-academy {
    margin-top: 2px;
  }
}
