.popular-link {
  display: block;
  font-family: "oswaldregular", "Arial", sans-serif;
  color: #ffffff;
  background-color: #68b738;
  padding: 11px 0;
  text-transform: uppercase;
  text-align: center;
}
