.popular-title {
  .regular-Oswald();
  font-size: 24px;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 1500px;
    background-color: #68b738;
    top: 13px;
    margin-left: 10px;
  }
}
