@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  min-width: 320px;
  font-family: "Arial", sans-serif;
  min-height: 320px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1300px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 768px) {
  .page-header__container {
    margin: 0 auto;
    min-width: 768px;
    max-width: 1299px;
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .page-header {
    overflow: hidden;
  }
  .page-header__container {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 40px;
  }
  .page-header--gradient-cat {
    background: url("../img/index-background-desktop@1x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #64a83b));
    background: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, #64a83b 50%);
    background-position: calc(50% + 360px) center, center;
    background-repeat: no-repeat;
    background-size: 720px 696px, 100%;
  }
  .page-header__cat {
    position: absolute;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    height: 696px;
    width: 720px;
    top: 0;
    right: -69px;
  }
  .page-header__container-index {
    min-height: 696px;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .page-header--gradient-cat {
    background: url("../img/index-background-desktop@2x.jpg"), -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #64a83b));
    background: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, #ffffff 50%, #64a83b 50%);
    background-position: calc(50% + 360px) center, center;
    background-repeat: no-repeat;
    background-size: 720px 696px, 100%;
  }
}
.main-nav {
  position: relative;
}
.main-nav__logo {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  padding: 11px 20px 12px 20px;
}
.main-nav__logo:hover[href],
.main-nav__logo:focus[href] {
  opacity: 0.8;
}
.main-nav__logo:active[href] {
  opacity: 0.6;
}
.main-nav__toggle {
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 64px;
  height: 64px;
  top: 0;
  right: 0;
}
.main-nav__toggle::after {
  content: "";
  position: absolute;
  height: 18px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  padding: 22px 21px 23px 20px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle::after {
    background: url("../img/icon-mobile-menu.svg") no-repeat;
    width: 24px;
  }
  .main-nav--opened .main-nav__toggle::after {
    background: url("../img/icon-close.svg") no-repeat;
    width: 18px;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 70.62%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 42px;
  }
  .main-nav__logo {
    border-bottom: none;
    margin-top: -18px;
    padding: 0;
    width: 173px;
    height: 58px;
  }
  .main-nav__logo-img {
    width: 173px;
    height: 58px;
  }
  .main-nav__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px;
    color: #222222;
    border-bottom: none;
    padding: 0;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  .main-nav__link:hover[href],
  .main-nav__link:focus[href] {
    opacity: 0.6;
  }
  .main-nav__link:active[href] {
    opacity: 0.3;
  }
  .main-nav__item {
    margin-left: 7.2%;
    position: relative;
  }
  .main-nav__item--current::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: #68b738;
    height: 2px;
    bottom: 10px;
  }
}
@media (min-width: 1300px) {
  .main-nav__item--cat .main-nav__link {
    color: #ffffff;
  }
  .main-nav {
    padding-top: 73px;
  }
  .main-nav__logo {
    margin-top: -19px;
    width: 202px;
    height: 59px;
  }
  .main-nav__logo-img {
    width: 202px;
    height: 59px;
  }
  .main-nav__link {
    font-size: 20px;
  }
  .main-nav__item {
    margin-left: 34px;
  }
  .main-nav__item--cat.main-nav__item--current::after {
    background-color: #ffffff;
  }
}
.popular-link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #68b738;
  padding: 11px 20px;
  text-transform: uppercase;
  text-align: center;
}
.popular-link:hover,
.popular-link:focus {
  background-color: #5eaa2f;
}
.popular-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.popular-link--different {
  background-color: #f2f2f2;
  color: #444444;
}
.popular-link--different:hover,
.popular-link--different:focus {
  background-color: #ebebeb;
}
.popular-link--different:active {
  color: rgba(68, 68, 68, 0.3);
}
.food {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
}
.food__wrapper {
  padding-top: 27px;
  background: #64a83b url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0%;
  min-height: 305px;
  background-size: 320px auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .food__wrapper {
    padding-top: 27px;
    background: #64a83b url("../img/index-background-mobile@2x.jpg") no-repeat 50% 0%;
    min-height: 305px;
    background-size: 320px auto;
  }
}
.food__text {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  word-wrap: break-word;
  width: 280px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.food__call {
  text-transform: uppercase;
  margin-top: 23px;
  width: 260px;
  margin-left: 50%;
  line-height: 18px;
  padding-right: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.food__product {
  margin: 0;
  width: 280px;
  height: 270px;
  margin-top: -139px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.food__link {
  margin: 0 20px;
  margin-top: 4px;
}
@media (min-width: 768px) {
  .food {
    color: #111111;
    text-align: start;
    padding-left: 12.28%;
    position: relative;
    min-height: 834px;
  }
  .food__wrapper {
    background-color: transparent;
    background-image: none;
    margin-left: 0;
    padding-top: 54px;
    min-height: 0;
  }
  .food__text,
  .food__call {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .food__text {
    font-size: 60px;
    line-height: 60px;
    width: 420px;
  }
  .food__call {
    font-size: 20px;
    line-height: 20px;
    width: 385px;
    margin-top: 41px;
    padding-left: 1px;
    margin-bottom: 0;
  }
  .food__product {
    position: absolute;
    margin: 0;
    -webkit-transform: none;
            transform: none;
    top: 255px;
    right: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
  .food__product-image {
    width: 709px;
    height: 609px;
  }
  .food__link {
    width: 245px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    margin-top: 48px;
    padding-top: 15px;
    padding-bottom: 17px;
    margin-left: 2px;
    padding-left: 16px;
  }
}
@media (min-width: 1300px) {
  .food {
    padding-left: 80px;
    min-height: auto;
  }
  .food__wrapper {
    padding-top: 105px;
    width: 450px;
  }
  .food__link {
    margin-top: 53px;
    margin-left: 0;
  }
  .food__call {
    padding-left: 0;
  }
  .food__product {
    margin-top: 0;
    left: 450px;
    top: 25px;
    width: 552px;
    height: 499px;
    z-index: 1;
  }
  .food__product-image {
    width: 552px;
    height: 499px;
  }
}
.opportunities-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.opportunities-list__item {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 19px;
  padding-right: 20px;
  position: relative;
  margin-top: 20px;
}
.opportunities-list__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  top: 24px;
  left: 22px;
}
.opportunities-list__item::after {
  content: "";
  position: absolute;
}
.opportunities-list__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 71px;
}
.opportunities-list__text {
  margin: 0;
  margin-top: 29px;
  color: #444444;
}
.opportunities-list__text::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 22px;
}
.opportunities-list__link {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.opportunities-list__link:active {
  opacity: 0.3;
}
.opportunities-list__link::after {
  content: "";
  position: absolute;
  top: 7px;
  margin-left: 11px;
  width: 24px;
  height: 11px;
  background: url("../img/icon-right-arrow-long.svg");
}
.opportunities-list__link-wrapper {
  margin: 0;
  margin-top: 19px;
}
.opportunities-list__link:hover::after {
  background: url("../img/icon-right-arrow-verylong.svg");
  width: 32px;
  height: 11px;
  margin-left: 11px;
  top: 7px;
}
.opportunities-list__item--losing-weight::after {
  width: 35px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") no-repeat;
  top: 22px;
  left: 30px;
}
.opportunities-list__item--obesity::after {
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat;
  top: 35px;
  left: 13px;
}
@media (min-width: 768px) {
  .opportunities-list__title {
    margin: 0;
    font-size: 36px;
  }
  .opportunities-list__item {
    padding-left: 53px;
    padding-top: 76px;
    padding-right: 38.84%;
    margin-top: 30px;
  }
  .opportunities-list__item::before {
    width: 200px;
    height: 200px;
    top: 92px;
    right: 62px;
    left: auto;
  }
  .opportunities-list__item--losing-weight::after {
    width: 140px;
    height: 194px;
    left: auto;
    top: 80px;
    right: 92px;
  }
  .opportunities-list__link {
    font-size: 20px;
    line-height: 20px;
  }
  .opportunities-list__link::after {
    top: 10px;
    margin-left: 24px;
  }
  .opportunities-list__link:hover::after {
    top: 10px;
    margin-left: 24px;
  }
  .opportunities-list__link-wrapper {
    margin-top: 56px;
    margin-left: -1px;
    margin-bottom: 40px;
  }
  .opportunities-list__text::after {
    display: none;
  }
  .opportunities-list__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
    margin-left: -1px;
  }
  .opportunities-list__item--obesity {
    padding-right: 44.49%;
  }
  .opportunities-list__item--obesity::before {
    left: auto;
    top: 91px;
    right: 60px;
  }
  .opportunities-list__item--obesity::after {
    width: 268px;
    height: 112px;
    top: 135px;
    right: 28px;
    left: auto;
  }
}
@media (min-width: 1300px) {
  .opportunities-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .opportunities-list__item {
    width: 570px;
    padding-right: 30px;
  }
  .opportunities-list__title {
    margin-left: 161px;
  }
  .opportunities-list__text {
    margin-top: 74px;
  }
  .opportunities-list__item::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
  .opportunities-list__item--losing-weight::after {
    width: 70px;
    height: 97px;
    left: 66px;
    top: 41px;
  }
  .opportunities-list__item--obesity::after {
    width: 134px;
    height: 56px;
    top: 69px;
    left: 34px;
  }
  .opportunities-list__link-wrapper {
    margin-top: 31px;
  }
}
.opportunities__list {
  margin-top: 22px;
}
@media (min-width: 1300px) {
  .opportunities__list {
    margin-top: 50px;
  }
}
.job {
  padding-top: 17px;
  padding-bottom: 50px;
}
.job__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.job__text {
  position: relative;
  margin: 0;
  width: 71.42%;
  margin-top: 30px;
  margin-bottom: -4px;
  color: #444444;
  margin-left: 7.14%;
}
.job__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.job__image--useful-material {
  background: url("../img/advantage-leaf@1x.png") 50% 50%;
}
.job__image--boiling-water {
  background: url("../img/advantage-powder@1x.png") 50% 4px;
}
.job__image--eating {
  background: url("../img/advantage-dining@1x.png") 4px 50%;
}
.job__image--time {
  background: url("../img/advantage-clock@1x.png") 50% 50%;
}
.job__image {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-top: 28px;
  margin-bottom: -8px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .job__image--useful-material {
    background: url("../img/advantage-leaf@2x.png") 50% 50%;
  }
  .job__image--boiling-water {
    background: url("../img/advantage-powder@2x.png") 50% 4px;
  }
  .job__image--eating {
    background: url("../img/advantage-dining@2x.png") 4px 50%;
  }
  .job__image--time {
    background: url("../img/advantage-clock@2x.png") 50% 50%;
  }
  .job__image {
    width: 60px;
    height: 60px;
    background-color: #68b738;
    margin-top: 28px;
    margin-bottom: -8px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .job {
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid #e6e6e6;
  }
  .job__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .job__item {
    position: relative;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 72px;
    margin-bottom: 61px;
  }
  .job__item::before {
    position: absolute;
    color: #f2f2f2;
    font-size: 281.07px;
    line-height: 281.07px;
    top: -39px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
  }
  .job__item--useful-material::before {
    content: "1";
    left: 118px;
  }
  .job__item--boiling-water::before {
    content: "2";
    left: 141px;
  }
  .job__item--eating::before {
    content: "3";
    left: 113px;
  }
  .job__item--time::before {
    content: "4";
    left: 143px;
  }
  .job__item:nth-child(even) {
    padding-left: 30px;
  }
  .job__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    width: 69.2%;
  }
  .job__text--time {
    width: 76.2%;
  }
  .job__image {
    margin: 0;
    width: 80px;
    height: 80px;
    background-position: 50% 50%;
  }
}
@media (min-width: 1300px) {
  .job {
    padding-top: 73px;
    border-bottom: none;
  }
  .job__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 80px;
  }
  .job__item {
    width: 245px;
    margin-top: -8px;
  }
  .job__item:nth-child(even) {
    padding-left: 0;
  }
  .job__text {
    margin: 0;
    padding: 0;
    margin-top: 32px;
    width: 245px;
  }
  .job__item--boiling-water::before {
    left: 111px;
  }
  .job__item--time::before {
    left: 113px;
  }
}
.example {
  background-color: #f2f2f2;
  padding-top: 17px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding-bottom: 36px;
}
.example__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  width: 96.42%;
  margin: 0;
  margin-top: 23px;
}
.example__description-term {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  border: 1px solid #cfcfcf;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 17px;
  border-radius: 3px;
}
.example__description-definition {
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0;
  width: 87px;
  text-align: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -9px;
  background-color: #f2f2f2;
  padding: 0 3px;
}
.example__liberation {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 19px;
}
.example__range {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 44px;
  margin-top: 32px;
  padding-right: 39px;
}
.example__was,
.example__become {
  width: 320px;
  height: 240px;
  margin: 0;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 34px;
}
.example__become {
  display: none;
}
.example__description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 25px;
}
.example__range-inner {
  width: 43%;
  height: 14px;
  border: 1px solid #cdcdcd;
  margin-top: 3px;
  border-radius: 6px;
}
.example__range-line {
  width: 43%;
  height: 6px;
  background-color: #68b738;
  margin-left: 5px;
  margin-top: 3px;
  border-radius: 3px;
}
.example__button {
  display: none;
}
@media (min-width: 768px) {
  .example {
    background-color: white;
    padding-top: 43px;
    padding-bottom: 0;
  }
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
  }
  .example__wrapper-min {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 28px;
  }
  .example__liberation {
    width: 190px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    margin-top: 36px;
  }
  .example__description-term {
    font-size: 30px;
    line-height: 37.2px;
    width: 162px;
    padding-top: 14px;
    padding-bottom: 19px;
  }
  .example__description-definition {
    font-size: 14px;
    line-height: 14px;
    background-color: white;
    padding: 0;
    width: 114px;
  }
  .example__description-inner--days {
    margin-left: 42px;
  }
  .example__description-definition--time {
    width: 141px;
  }
  .example__liberation-figures {
    display: block;
    margin-top: 9px;
  }
  .example__image-infinity {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%);
    position: relative;
    margin-top: 250px;
    padding-top: 335px;
    padding-bottom: 68px;
  }
  .example__was,
  .example__become {
    position: absolute;
    margin-top: 0;
    width: 690px;
    height: 517px;
    top: -169px;
    left: 7px;
  }
  .example__become {
    display: block;
  }
  .example__was-image,
  .example__become-image {
    width: 690px;
    height: 517px;
  }
  .example__range {
    font-size: 20px;
    line-height: 20px;
    padding-left: 68px;
    padding-right: 70px;
  }
  .example__range-inner {
    width: 75.1%;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    margin-top: 8px;
    margin-left: 5px;
  }
  .example__range-line {
    display: none;
  }
  .example__button {
    position: relative;
    display: block;
    margin: -14px auto;
    border: 1px solid #cecece;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
  .example__button::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .example__left-range,
  .example__right-range {
    padding-bottom: 6px;
    border-bottom: 1px dotted #bebebe;
  }
  .example__description-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1300px) {
  .example {
    padding-top: 24px;
    padding-bottom: 0;
  }
  .example__text {
    width: 433px;
    margin-top: 71px;
  }
  .example__text-infinity {
    width: 50%;
  }
  .example__title {
    padding-bottom: 75px;
  }
  .example__description-list {
    margin-top: 40px;
  }
  .example__description-definition {
    background-color: #f2f2f2;
  }
  .example__common-infinity {
    background: -webkit-gradient(linear, left top, right top, color-stop(51%, #f2f2f2), color-stop(51%, #eaeaea));
    background: linear-gradient(90deg, #f2f2f2 51%, #eaeaea 51%);
  }
  .example__image-infinity {
    margin: 0;
    width: 50%;
    padding: 0 40px;
    min-height: 462px;
    padding-top: 335px;
  }
  .example__container {
    margin: 0 auto;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .example__wrapper-min {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .example__liberation-figures {
    margin: 0;
    display: inline;
  }
  .example__liberation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 327px;
    margin-top: 55px;
    text-align: start;
  }
  .example__range {
    padding: 0;
  }
  .example__image-infinity .container {
    padding: 0;
  }
  .example__was,
  .example__become {
    top: -190px;
    left: -20px;
  }
}
.contacts {
  background-color: #dcdcdc;
}
.contacts__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 127px;
}
.contacts__contacts {
  margin: 0;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  width: 135px;
  margin-right: 4px;
}
.contacts__wrapper-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  padding-top: 28px;
  background-color: white;
  z-index: 1;
  padding-bottom: 26px;
}
.contacts__map {
  position: relative;
  margin: 0;
  width: 320px;
  height: 400px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -38px;
}
.contacts__map::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 53px;
  background: url("../img/map-pin.png") no-repeat;
  background-size: cover;
  bottom: 170px;
  left: 129px;
}
.contacts__wrapper-content--color {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .contacts__wrapper-content {
    padding: 0 71px;
    padding-top: 65px;
    padding-bottom: 57px;
  }
  .contacts__map {
    margin-top: -4px;
    width: 767px;
    height: 400px;
  }
  .contacts__map::after {
    width: 113px;
    height: 106px;
    bottom: 144px;
    left: 321px;
  }
  .contacts__map-image {
    width: 767px;
    height: 400px;
  }
  .contacts__text {
    font-size: 20px;
    line-height: 25px;
  }
  .contacts__contacts {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    width: 155px;
    text-align: end;
  }
  .contacts__city {
    display: block;
    margin-top: 19px;
  }
}
@media (min-width: 1300px) {
  .contacts {
    overflow: hidden;
  }
  .contacts__container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
  }
  .contacts__map {
    margin-top: 0;
    width: 1440px;
    height: 400px;
  }
  .contacts__map::after {
    width: 113px;
    height: 106px;
    bottom: 144px;
    left: auto;
    right: 329px;
  }
  .contacts__map-image {
    width: 1440px;
    height: 400px;
  }
  .contacts__wrapper-content {
    position: absolute;
    width: 570px;
    padding: 65px 91px 57px 77px;
    background-color: white;
    z-index: 20;
    left: 40px;
    top: 95px;
  }
  .contacts__contacts {
    text-align: start;
  }
}
.repeat-title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}
@media (min-width: 768px) {
  .repeat-title {
    font-size: 60px;
  }
}
.page-main {
  overflow: hidden;
}
.page-main__title-catalog {
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 28px;
  border-bottom: 1px solid #ededed;
}
.page-main__title-form {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .page-main__title-catalog {
    padding: 0;
    padding-top: 54px;
    border-bottom: none;
  }
  .page-main__container {
    padding: 0 30px;
  }
  .page-main__form .container:not(:first-child) {
    padding-left: 71px;
    padding-right: 67px;
  }
  .page-main__title-form {
    margin-top: 54px;
  }
}
@media (min-width: 1300px) {
  .page-main__container {
    padding: 0 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .page-main__title-catalog {
    padding-top: 71px;
  }
  .page-main__title-form {
    margin-top: 71px;
  }
  .page-main__form .container:not(:first-child) {
    padding: 0 40px;
  }
}
.page-footer__wrapper {
  background-color: #f2f2f2;
}
.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-footer__logo {
  display: block;
  height: 24px;
  width: 128px;
  margin: 0 auto;
}
.page-footer__logo:hover[href],
.page-footer__logo:focus[href] {
  opacity: 0.8;
}
.page-footer__logo:active[href] {
  opacity: 0.6;
}
.page-footer__copyright {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  padding-top: 30px;
  margin-left: -1px;
}
.page-footer--color {
  background-color: #f2f2f2;
}
.page-footer__container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 767px;
  padding: 39px 20px;
  padding-bottom: 18px;
}
.page-footer__item {
  margin: 0 4.64%;
}
.page-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}
.page-footer__vk,
.page-footer__insta {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-footer__fb-svg {
  margin-top: 5px;
  margin-left: 7px;
}
.page-footer__wrapper-academy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__html-academy {
  margin-top: 22px;
}
.page-footer__logo-wrapper {
  margin: 0;
  padding-bottom: 31px;
  border-bottom: 1px solid #d9d9d9;
}
.page-footer__link:hover .page-footer__icon,
.page-footer__link:focus .page-footer__icon,
.page-footer__html-academy:hover .page-footer__icon,
.page-footer__html-academy:focus .page-footer__icon {
  fill: #68b738;
}
.page-footer__link:active .page-footer__icon,
.page-footer__html-academy:active .page-footer__icon {
  fill-opacity: 0.3;
}
@media (min-width: 768px) {
  .page-footer__container {
    margin: 0 auto;
    min-width: 768px;
    max-width: 1299px;
    padding: 58px 30px 53px 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-footer__list {
    border-bottom: none;
    padding: 0;
    margin-top: 1px;
    width: 260px;
  }
  .page-footer__logo {
    margin: 0;
  }
  .page-footer__copyright {
    padding: 0;
    margin-top: 8px;
  }
  .page-footer__html-academy {
    margin: 0;
  }
  .page-footer__vk-svg {
    width: 30px;
    height: 16px;
  }
  .page-footer__insta-svg {
    width: 23px;
    height: 23px;
  }
  .page-footer__fb-svg {
    width: 14px;
    height: 28px;
    margin: 0;
    margin-left: 2px;
    margin-top: 1px;
  }
  .page-footer__wrapper-academy {
    width: 22.88%;
  }
  .page-footer__logo-wrapper {
    border-bottom: none;
    margin-top: 6px;
    margin-right: 31px;
    padding: 0;
  }
}
@media (min-width: 1300px) {
  .page-footer__container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px 40px;
    padding-top: 57px;
    padding-bottom: 53px;
  }
  .page-footer__wrapper-academy {
    width: 245px;
    margin-top: 2px;
  }
  .page-footer__copyright {
    margin-top: 8px;
    margin-left: 82px;
  }
  .page-footer__logo-wrapper {
    margin-right: 0;
    width: 243px;
  }
}
.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-list__title {
  margin: 0;
}
.product-list__title-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  width: 80px;
}
.product-list__description-list {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-top: 13px;
}
.product-list__item {
  padding: 0 19px;
  padding-bottom: 24px;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.product-list__text-wrapper {
  width: 100%;
  padding-top: 21px;
}
.product-list__description-definition {
  margin: 0;
}
.product-list__description-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-list__product {
  display: block;
  width: 140px;
  height: 144px;
}
.product-list__link {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
}
@media (min-width: 500px) and (max-width: 767px) {
  .product-list__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
  }
  .product-list__description-list {
    width: 35.5%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-list__item {
    margin-top: 140px;
    width: 45.76%;
    background-color: #f2f2f2;
    padding: 142px 37px 40px 38px;
    position: relative;
    border: none;
  }
  .product-list__product {
    position: absolute;
    top: -78px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 324px;
    height: 208px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .product-list__product-image-big {
    width: 324px;
    height: 208px;
  }
  .product-list__product-image-small {
    width: 324px;
    height: 172px;
  }
  .product-list__description-list {
    font-size: 16px;
    margin: 0;
    margin-top: 27px;
  }
  .product-list__title-link {
    display: block;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 20px;
    width: 134px;
    text-align: center;
    padding-left: 2px;
  }
  .product-list__description-inner {
    border-bottom: 1px solid #cdcdcd;
    margin-top: 8px;
    padding-bottom: 7px;
  }
  .product-list__link {
    margin-top: 33px;
  }
}
@media (min-width: 1300px) {
  .product-list__item {
    width: 245px;
    padding-right: 39px;
    margin-top: 143px;
  }
  .product-list__product {
    width: 245px;
  }
  .product-list__product-image-big {
    width: 245px;
  }
  .product-list__product-image-small {
    width: 245px;
  }
}
@media (min-width: 768px) {
  .product__list {
    margin-top: 25px;
  }
}
@media (min-width: 1300px) {
  .product__list {
    margin-top: 22px;
  }
}
.more-product {
  position: relative;
  text-align: center;
  padding-top: 79px;
}
.more-product__liberation {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 2px;
}
.more-product__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-top: 7px;
}
.more-product__link {
  margin-top: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  font-size: 16px;
  line-height: 20px;
}
.more-product--decor::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/icon-plus-mobile.svg") no-repeat;
}
@media (min-width: 768px) {
  .more-product--decor::before {
    width: 60px;
    height: 60px;
    top: 55px;
    background: url("../img/icon-plus.svg") no-repeat;
  }
  .more-product {
    background-color: white;
    border: 1px solid #e6e6e6;
    padding-left: 37px;
    padding-top: 163px;
    padding-bottom: 38px;
  }
  .more-product__liberation {
    display: block;
    font-size: 20px;
    width: 142px;
    margin: 0 auto;
    padding-left: 2px;
  }
  .more-product__text {
    font-size: 16px;
    width: 167px;
    line-height: 19px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .more-product__link {
    margin-top: 85px;
  }
}
@media (min-width: 1300px) {
  .more-product {
    padding-top: 162px;
  }
}
.popular-title {
  position: relative;
}
.popular-title::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #68b738;
  top: 14px;
  width: 100vw;
  z-index: -1;
}
.popular-title__heading {
  margin: 0;
}
.popular-title__text {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 221px;
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.popular-title__text--catalog {
  max-width: 266px;
}
@media (min-width: 768px) {
  .popular-title::after {
    top: 22px;
  }
  .popular-title__text {
    padding-left: 40px;
    padding-right: 40px;
    max-width: none;
    font-size: 36px;
    line-height: 36px;
  }
  .popular-title__heading {
    padding: 0 30px;
  }
}
@media (min-width: 1300px) {
  .popular-title__heading {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
  }
}
.additionally {
  padding-bottom: 35px;
  overflow: hidden;
}
.additionally__present {
  width: 280px;
  min-height: 289px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 39px;
  padding-top: 65px;
  background-size: 280px 289px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .additionally__present {
    width: 280px;
    min-height: 289px;
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 39px;
    padding-top: 65px;
    background-size: 280px 289px;
  }
}
.additionally__text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-align: center;
  padding: 0 50px;
  padding-top: 62px;
}
.additionally__present-wrapper {
  background-color: #6aab43;
}
.additionally__title {
  margin-top: 28px;
  margin-bottom: 33px;
}
.additionally__present--present::before {
  content: "";
  background: url("../img/icon-gift.svg") no-repeat;
  width: 55px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .additionally {
    padding-top: 39px;
    padding-bottom: 76px;
  }
  .additionally__title {
    margin-bottom: 80px;
  }
  .additionally__present {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    width: 708px;
    min-height: 200px;
    margin-top: 69px;
    background-size: 708px 200px;
  }
  .additionally__text {
    padding: 0;
    text-align: start;
    width: 165px;
    margin-left: 277px;
    margin-top: 7px;
  }
  .additionally__present--present::before {
    margin: 0;
    margin-left: 91px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .additionally__present {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("../img/gift-photo-tablet@2x.jpg") no-repeat;
    width: 708px;
    min-height: 200px;
    margin-top: 69px;
    background-size: 708px 200px;
  }
}
@media (min-width: 1300px) {
  .additionally {
    padding-top: 42px;
    padding-bottom: 86px;
  }
  .additionally__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .additionally__title {
    margin-top: 33px;
  }
  .additionally__present {
    margin: 0;
    -webkit-transform: none;
            transform: none;
    width: 245px;
    height: 289px;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 245px 289px;
  }
  .additionally__present-wrapper {
    background-color: white;
  }
  .additionally__present--present::before {
    margin: 0 auto;
  }
  .additionally__text {
    margin: 0;
    text-align: center;
    margin-top: 62px;
    margin-left: 39px;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .additionally__present {
    margin: 0;
    -webkit-transform: none;
            transform: none;
    width: 245px;
    height: 289px;
    background: url("../img/gift-photo-desktop@2x.jpg") no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 245px 289px;
  }
}
.additionally-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.additionally-list__item {
  padding-top: 13px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 17px;
}
.additionally-list__item:first-child {
  border-top: 1px solid #cdcdcd;
}
.additionally-list__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin: 0;
}
.additionally-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.additionally-list__link {
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .additionally-list__item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .additionally-list__item {
    padding: 25px 36px 27px 37px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #d9d9d9;
  }
  .additionally-list__item:first-child {
    border-top-color: #e6e6e6;
  }
  .additionally-list__item:last-child {
    border-bottom-color: #e6e6e6;
  }
  .additionally-list__title {
    font-size: 20px;
    line-height: 20px;
  }
  .additionally-list__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-top: 4px;
  }
  .additionally-list__link {
    margin-top: 22px;
  }
  .additionally-list__price {
    width: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 1300px) {
  .additionally-list {
    width: 895px;
  }
  .additionally-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-left: none;
    border-right: none;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 16px;
    border-color: #cdcdcd;
  }
  .additionally-list__item:first-child {
    border-top-color: #cdcdcd;
  }
  .additionally-list__link {
    margin: 0;
    width: 245px;
    margin-top: -10px;
  }
  .additionally-list__title {
    width: 325px;
  }
  .additionally-list__weight {
    width: 245px;
  }
  .additionally-list__price {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 80px;
  }
  .additionally-list__item:last-child {
    border-color: #cdcdcd;
  }
}
.filter {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
}
.filter__form {
  padding-bottom: 32px;
}
.filter__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 230px;
  margin: 0;
  margin-top: 25px;
}
.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 28px;
}
.filter__info {
  margin-top: 24px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 24px;
}
.filter__label {
  white-space: nowrap;
  text-transform: uppercase;
}
.filter__button {
  border: none;
  width: 100%;
  margin-top: 34px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.filter__text {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0;
  margin-top: 21px;
}
.filter__input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #444444;
  font: inherit;
}
.filter__input::-moz-placeholder {
  text-transform: uppercase;
  color: #444444;
  font: inherit;
}
.filter__input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #444444;
  font: inherit;
}
.filter__input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #444444;
  font: inherit;
}
.filter__input::placeholder {
  text-transform: uppercase;
  color: #444444;
  font: inherit;
}
.filter__input {
  width: 100%;
  margin-left: 13px;
  height: 45px;
  padding-left: 15px;
  padding-top: 2px;
  border: 1px solid #e7e7e7;
  font: inherit;
}
.filter__wrapper-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__textarea {
  width: 100%;
  margin-top: 35px;
  resize: none;
  min-height: 150px;
  border-color: #e7e7e7;
  font: inherit;
  padding-top: 12px;
  padding-left: 14px;
  color: #444444;
}
.filter__textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}
.filter__textarea::-moz-placeholder {
  text-transform: uppercase;
}
.filter__textarea:-ms-input-placeholder {
  text-transform: uppercase;
}
.filter__textarea::-ms-input-placeholder {
  text-transform: uppercase;
}
.filter__textarea::placeholder {
  text-transform: uppercase;
}
.filter__need .filter__radio-item {
  position: relative;
  margin-left: 46px;
  margin-top: 24px;
}
.filter__need .filter__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  left: -46px;
  top: -6px;
}
.filter__need .filter__label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
  left: -37px;
  top: 3px;
  display: none;
}
.filter__radio:checked + .filter__label::after {
  display: block;
}
.filter__need {
  margin-top: 3px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 27px;
}
.filter__radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter__icon {
  position: absolute;
  fill: #222222;
}
.filter__icon-email {
  top: 17px;
  right: 16px;
}
.filter__icon-tel {
  top: 14px;
  right: 13px;
}
.filter__e-mail:focus + .filter__icon,
.filter__input:focus + .filter__icon {
  fill: #68b738;
}
.filter__contacts .filter__input {
  padding-left: 12px;
  padding-right: 40px;
}
.filter__middle-wrapper {
  margin-top: 33px;
}
.filter__comment {
  margin-top: 29px;
}
.filter__additionally {
  margin-top: 26px;
}
.filter__checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 36px;
}
.filter__checkbox-item {
  position: relative;
  margin-top: 12px;
}
.filter__additionally .filter__label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf;
  vertical-align: middle;
  margin-right: 12px;
}
.filter__additionally .filter__label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg") no-repeat;
  left: 5px;
  top: 6px;
  display: none;
}
.filter__checkbox:checked + .filter__label::after {
  display: block;
}
@media (min-width: 768px) {
  .filter {
    font-size: 20px;
    line-height: 20px;
  }
  .filter__form {
    padding-bottom: 72px;
  }
  .filter__title {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-top: 55px;
    margin-left: 40px;
  }
  .filter__checkbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 27px;
  }
  .filter__checkbox-item {
    width: 50%;
    margin-top: 32px;
  }
  .filter__bottom-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 52px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .filter__text {
    text-align: start;
    margin: 0;
    margin-top: 16px;
    margin-left: 61px;
    font-size: 16px;
    line-height: 16px;
  }
  .filter__info {
    margin-top: 45px;
    border-bottom: none;
  }
  .filter__wrapper-input {
    margin-top: 20px;
  }
  .filter__input {
    height: 52px;
    margin-left: 18px;
  }
  .filter__radio-list {
    border: 1px solid #e6e6e6;
    padding-bottom: 35px;
  }
  .filter__need {
    margin-top: 49px;
    border-bottom: none;
  }
  .filter__need .filter__radio-item {
    margin-left: 86px;
    margin-top: 33px;
  }
  .filter__need .filter__label::before {
    width: 40px;
    height: 40px;
    left: -59px;
    top: -9px;
  }
  .filter__need .filter__label::after {
    width: 18px;
    height: 18px;
    left: -48px;
    top: 2px;
  }
  .filter__contacts {
    margin-top: 48px;
  }
  .filter__middle-wrapper {
    margin-top: 75px;
  }
  .filter__contacts .filter__input {
    padding-left: 20px;
  }
  .filter__icon-email {
    top: 21px;
    right: 19px;
  }
  .filter__icon-tel {
    top: 18px;
    right: 16px;
  }
  .filter__comment {
    margin-top: 66px;
  }
  .filter__textarea {
    margin-top: 76px;
    min-height: 174px;
    padding-top: 14px;
    padding-left: 17px;
  }
  .filter__additionally {
    margin-top: 64px;
  }
  .filter__checkbox-item:nth-child(even) {
    padding-left: 29px;
  }
  .filter__additionally .filter__label::before {
    width: 40px;
    height: 40px;
  }
  .filter__additionally .filter__label::after {
    left: 9px;
    top: 10px;
  }
  .filter__checkbox-item:nth-child(even) .filter__label::after {
    top: 11px;
    left: 37px;
  }
  .filter__button {
    width: 283px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1300px) {
  .filter__additionally .filter__checkbox-item {
    width: 20.08%;
  }
  .filter__form {
    padding-bottom: 82px;
  }
  .filter__top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
  }
  .filter__info,
  .filter__need {
    width: 50%;
  }
  .filter__middle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 55px;
  }
  .filter__contacts .filter__wrapper-input {
    width: 570px;
  }
  .filter__need {
    margin-top: 66px;
  }
  .filter__title {
    margin-left: 0;
  }
  .filter__contacts {
    margin-top: 42px;
  }
  .filter__icon-email {
    top: 21px;
    right: 20px;
  }
  .filter__icon-tel {
    top: 18px;
    right: 19px;
  }
  .filter__comment {
    margin-top: 68px;
  }
  .filter__additionally {
    margin-top: 66px;
  }
  .filter__checkbox-item:not(:nth-child(4)) {
    margin-right: 80px;
  }
  .filter__checkbox-item:nth-child(even) {
    padding: 0;
  }
  .filter__checkbox-item:nth-child(even) .filter__label::after {
    left: 9px;
    top: 10px;
  }
  .filter__bottom-wrapper {
    margin-top: 59px;
  }
  .filter__button {
    width: 570px;
  }
  .filter__text {
    margin-left: 81px;
  }
}

/*# sourceMappingURL=style.css.map */
